h1 {
    text-align: center;
    font-style: italic;
    color: red;
}
body {
    background-image: url(https://www.contemporary-african-art.com/images/adinkra-robes-Accra-Ghana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


