h1 {
    text-align: center;
    font-style: italic;
    color: red;
}
body {
    background-image: url(https://www.contemporary-african-art.com/images/adinkra-robes-Accra-Ghana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    background-color:yellow;
}
h2 {
    color: green;
    font-style: italic;
}
h3 {
    color: green;
    font-style: italic;
}
h4 {
    color: green;
    font-style: italic;
}
footer {
    text-align: center;
    color: red;
    background-color:yellow;
}
